
body, html {
    height: 100%;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.Hero-container {
    position: relative;

   
   
    height: 100vh;
    width: 100vw;
    

    background-image: url(/public/binarybckgrd.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
 
}
.button-container {
   position: absolute;

   float: left;
}

.location-container {
    background-color: red;
    display: flex;

  
    
}


.icon {
    object-fit: contain;
    width: 16%; 
    height: auto;
    padding-right: 2%;
    margin-right: 2%;
    float: right;
   
}
.join-button {
    background-color: #93C3DE;
    border-color: transparent;
    width: 12vw; 
    height: auto;
    border-radius: 60px;
    font-family: "Inter", serif;
    font-size: 2vw;
    padding: 0.5vw;
    color: white;
    
}


.text-container {
    
    position:absolute;
    float: left;
    margin-left: 10%;
    top: 20%;
    
    font-family: "Inter";
    width: 30vw;
    height: auto;
    text-align: left;
  

    background-color: transparent;
  }
.title {
    color: #93C3DE;
    font-size: 5vw;
    
}

.image-container {
    position: relative;
    float: right;
    margin-right: 10vw;
    margin-top: 20vh;
    
    background-color: transparent;
}
.club-image {
    width: 40vw; 
    height: auto;
    border-radius: 30px;
    border-style: solid;
    border-width: 1vw;
    border-color: #ffffff;

}

.larger-descript {
    color: #93C3DE;
    font-family: "Inter", serif;
    font-size: 2vw;

}

.smaller-descript {
    color: #93C3DE;
    font-size: 1.5vw;
    font-family: "Inter", serif;
    text-align: left;
}

.location-text {
    color: #93C3DE;
    font-size: 1.2vw;
   
    float: left;
   

}



.location-svg {

    float: left;
    
   
}
