.nav {
    background-color:  #93C3DE;

    
}

.home-button{

  float: left;
  
  
}

.nav-item {
  font-family: "Roboto", serif;
  font-size: 120%;
  font-weight: 400;
  font-weight: bold;
  color: #216C97 !important;

}

.nav-items {

}




 

  